<main>
    <section class="left-content">
        <div class="logo">
            <img src="/assets/images/love.svg" alt="Love Logo">
            <h2>Love<span class="logo-brand">App</span></h2>
        </div>
        <h3>{{ title }}</h3>
        <ng-content></ng-content>
        <div class="actions">
            <button class="btn-primary">Login</button>
            <span class="actions--separator">ou</span>
            <button class="btn-secondary">Registra-se</button>
        </div>
    </section>
    <section class="right-content">
        <img src="/assets/images/shopping.svg" alt="Love main image">
        <h1>Faça suas compras e compartilhe as contas!</h1>
    </section>
</main>