@import "../../../styles/abstracts/variables.scss";

label {
    color: $secondary-color;
    font-size: 1.3em;
}

input {
    font-size: 1.2em;
}

.form-input {
    display: flex;
    flex-direction: column;
    gap: .5em;

    &--email {
        margin-bottom: 1em;
    }
}