// colors
$primary-color: #6C63FF;
$secondary-color: #D862BC;
$terciary-color: #FFEBB2;
$quartiary-color: #8644A2;
$alternative-color: #E59BE9;
$gray-color-light: #ecf0f1;
$gray-color-dark: #7f8c8d;

// rgb(255, 235, 178)
// rgb(229, 155, 233)
// rgb(216, 98, 188)
// rgb(134, 68, 162)
// https://colorhunt.co/palette/ffebb2e59be9d862bc8644a2

$default-border-radius: 6px;
$spacing-items-left-area: 70%
