@import "../../../styles/abstracts/variables.scss";

.form-container {
    width: $spacing-items-left-area;
    margin-bottom: .5em;
    & > *:nth-child(-n + 1) {
        display: block;
        margin-bottom: 1em;
    }
}
