<app-layout 
    title="Faça o login em sua conta"
    (submit)="submit()"
    >
    <form [formGroup]="loginForm" class="form-container">
        <app-default-input 
            label="E-mail" 
            placeholder="joaosilva@email.com" 
            type="email" 
            itemId="email"
            formControlName="email" 
            [isMain]="true"
            />
        <app-default-input 
            label="Senha" 
            placeholder="••••••" 
            type="password" 
            itemId="password"
            formControlName="password"
            />
    </form>
</app-layout>