<app-layout title="Faça o login em sua conta">
    <div class="form">
        <div class="form-input form-input--email">
            <label for="email">E-mail</label>
            <input type="email" name="email" id="email" placeholder="joao@email.com.br">
        </div>
        <div class="form-input form-input--password">
            <label for="password">Senha</label>
            <input type="password" name="password" id="password" placeholder="Digite sua senha">
        </div>
    </div>
</app-layout>